.project-list-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project {
    position: relative;
    margin: 0 5px 10px;
    padding: 8px;
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    width: calc(33.33% - 14px); /** Subtracting margin and border*/
    min-height: 220px;
    box-sizing: border-box;

    color: var(--text-color);
}

.project-name {
    margin: 10px 0 5px;

    font-size: 20px;
    font-weight: bold;
}

.project .short-description {
    margin: 0;
    padding-bottom: 60px;
}

.project .links {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    height: 30px;
    width: 100%;
}

.project .link {
    flex: 0 0 auto;
    padding: 0 10px;

    font-size: 40px;
    color: var(--text-color);
}

@media only screen and (max-width: 768px) {
    .project {
        width: calc(50% - 14px); /** Subtracting margin and border*/
    }
}

@media only screen and (max-width: 590px) {
    .project {
        width: calc(100% - 14px); /** Subtracting margin and border*/
    }
}