.socials {
    margin: 0 0 150px;
}

.socials-container {
    position: fixed;
    height: 50px;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.socials ul {
    margin: 0;
    padding: 0;
}

.socials li {
    display: inline;
    padding: 0 12.5px;
}

.social {
    font-size: 50px;
    color: black;
    text-shadow: white 0 0 20px, white 0 0 20px, white 0 0 20px, white 0 0 20px, white 0 0 20px, white 0 0 20px, white 0 0 20px, white 0 0 20px;
}

.social:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 425px) {
    .socials {
        padding: 0 0 75px;
    }

    .socials-container {
        bottom: 0;
        width: 60%;
        padding: 0 20%;
        height: 12vw;
    }

    .social {
        font-size: 12vw;
    }
}