#socials-container {
    margin: 150px 0 0;
}

#socials-container .container {
    position: fixed;
    transform: translateX(-50%);
    bottom: 75px;
    left: 50%;

    height: 50px;

}

#socials-container ul {
    margin: 0;
    padding: 0;
}

#socials-container li {
    display: inline;
    height: fit-content;
    padding: 0 12.5px;
}

#socials-container .social {
    font-size: 50px;
    line-height: 50px;
    color: var(--social-btn-color);
    text-decoration: none !important;
}

#socials-container .social:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 425px) {
    #socials-container {
        margin-top: 80px;
    }

    #socials-container .socials {
        padding: 0 0 75px;
        margin: 0;
    }

    #socials-container .container {
        bottom: 0;

        width: 60%;
        padding: 0 20%;
        background-color: var(--bg-color);
        box-shadow: 0px -3px 15px var(--shadow-color);
    }

    #socials-container .social {
        font-size: 40px;
    }
}