#app-container {
  min-width: 320px;
}

#content-container {
  margin: auto;
  width: 800px;
  max-width: 100%;
  padding: 0 70px;
  box-sizing: border-box;

  text-align: center;
}

.screen-reader-text {
  display: none;
}

@media only screen and (max-width: 425px) {
  #content-container {
    padding: 0 5px;
  }
}